---
layout: layouts/page.njk
title: Message sent
lede: Thanks for getting in touch. We'll reply to the email address you gave, usually within a few business days.
permalink: /contact/thanks/
eleventyExcludeFromCollections: true
robots: noindex
---
<p><a class="btn btn-quiet" href="/">Back to the homepage</a></p>
