---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in collections.all %}{% if not p.data.robots and p.url %}
  <url><loc>{{ site.url }}{{ p.url }}</loc><lastmod>{% if p.url == "/" or p.url == "/projects/" %}{{ projects | latestUpdate }}{% elif p.data.updated %}{{ p.data.updated | dateIso }}{% else %}{{ p.date | dateIso }}{% endif %}</lastmod></url>
{%- endif %}{% endfor %}
</urlset>
